@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.error-banner{
  display: flex;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  background: color(display-p3 0.665 0.076 0.076);
  min-width: 95vw;
  padding: 6px 0;
  color: color(srgb 0.9 0.9 0.9);
  border-radius: 10px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--side-inactive-width);
  background-color: var(--dark-color);
  transition: all 0.5s ease;
  overflow: visible scroll;
}
.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar.active {
  width: var(--side-active-width);
}

.sidebar .logo_content .logo {
  color: var(--font-color);
  display: flex;
  height: 100%;
  align-items: center;
}

.sidebar .logo_content .logo img {
  height: var(--logo-size);
  width: var(--logo-size);
  margin: calc((var(--side-inactive-width) - var(--logo-size))/2);
}

.sidebar .logo_content .logo .logo_name {
  opacity: 0;
  transition: 0.5s ease;
}

.sidebar .logo_content .logo .logo_name .team {
  font-size: 15px;
  font-weight: 200;
  color: var(--font-color);
  white-space: nowrap;
  text-align: left;
}

.sidebar .logo_content .logo .logo_name .team_name {
  font-size: 20px;
  font-weight: 400;
  color: var(--font-color);
  white-space: nowrap;
  text-align: left;
}

.sidebar.active .logo_content .logo .logo_name {
  opacity: 1;
}

.sidebar #btn {
  position: absolute;
  margin: calc((var(--side-inactive-width) - var(--logo-size))/2);
  top: calc((var(--side-inactive-width) - var(--logo-size))/2);
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  color: var(--font-color);
  transition: 0.5 ease;
  opacity: 0;
  cursor: pointer;
}

.sidebar.active #btn {
  left: calc(var(--side-active-width) * 0.8);
  opacity: 1;
}

.sidebar ul {
  margin-top: 20px;
}

.sidebar ul li {
  position: relative;
  height: var(--navbar-icon-size);
  width: var(--sidebar-active-width);
  margin: 0 calc(
                (var(--side-inactive-width) - var(--logo-size))/2 + 
                (var(--logo-size) - var(--navbar-icon-size))/2
                );
  list-style: none;
  line-height: 50px;
}


.sidebar ul li input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  outline: none;
  cursor: pointer;
  border-radius: 12px;
  border: none;
  background-color: #1d1b31;
  padding-left: 50px;
  font-size: 18px;
  color: var(--font-color);
  transition: 0.5s ease;
}
.sidebar.active ul li input {
  padding-left: 60px;
}

.sidebar ul li .search {
  position: absolute;
  z-index: 99;
  color: var(--font-color);
  font-size: 20px;
  border-radius: 12px;
  background-color: var(--med-color);
}

.sidebar ul li .search:hover {
  color: var(--dark-color);
  background-color: var(--font-color);
}

.sidebar ul li a {
  color: var(--font-color);
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  white-space: nowrap;
}

.sidebar ul li a:hover {
  color: var(--dark-color);
  background-color: var(--font-color);
}

.sidebar ul li i {
  height: var(--navbar-icon-size);
  min-width: var(--navbar-icon-size);
  text-align: center;
  line-height: var(--navbar-icon-size);
}

.sidebar .links_name {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.sidebar.active .links_name {
  opacity: 1;
  pointer-events: auto;
}



.sidebar .logo-and-navbar .private .separation{
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 3px;
  height: 3px;
  width: 85%;
  margin-inline: auto;
  background-color: rgb(111, 138, 185);
}


















.sidebar .profile_content {
  margin-top: 100px;
  margin-bottom: 10px;
  left: 0;
  width: 100%;
  color: var(--font-color);
}

.sidebar .profile_content .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
}

.sidebar .profile_content .profile .profile_details {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  background-color: none;
  white-space: nowrap;
}

.sidebar.active .profile_content .profile .profile_details {
  opacity: 1;
  pointer-events: auto;
  background-color: var(--med-color);
  transition: all 0.5s ease-in-out;
  border-radius: 12px;
}

/* sidebar .profile_content .profile .profile_details a {
  text-decoration: none;
} */

.profile_picture {
  height: 50px;
  width: 50px;
  border-radius: 12px;
  object-fit: cover;
  display: block;
}

.sidebar .profile_content .profile .profile_details .name_job {
  margin-left: 10px;
}

.sidebar .profile_content .profile .profile_details .name_job .name {
  font-size: 15px;
  font-weight: 400;
}

.sidebar .profile_content .profile .profile_details .name_job .job {
  font-size: 12px;
  font-weight: 400;
}

.sidebar .profile_content .profile .icon {
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  background: var(--med-color);
  transition: all 0.5s ease;
  color: rgb(111, 138, 185)
}



.sidebar.active .profile_content .profile .icon {
  left: 88%;
  background: none;
}





















































.main_content {
  position: absolute;
  width: calc(100% - var(--side-inactive-width));
  left: 78px;
  height: 100%;
  background-color: none;
  transition: all 0.5s ease;
}

.sidebar.active~.main_content {
  width: calc(100% - var(--side-active-width));
  left: var(--side-active-width);
}

.main_content .text {
  font-size: 25px;
  font-weight: 500;
  color: #1d1b31;
  margin: 12px;
}