:root{
    --side-active-width: 300px;
    --side-inactive-width: 78px;
    --dark-color: #11101d;
    --med-color: #26243e;
    --font-color: #fff;
    --logo-size: 60px;
    --navbar-icon-size: 50px;
  }

  