svg path {
    fill: transparent;
    stroke-width: 0.25;
    stroke: red;
}

svg #arrow-h path {
    stroke-dasharray: 200;
    stroke-dashoffset: 0;
}

svg #arrow-h:hover path {
    animation: animate-arrow 2s ease forwards
}
@keyframes animate-arrow {
    0% {
        stroke-dashoffset: 200;
    }
    100% {
        stroke-dashoffset: 0;
    }
}